@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: rebeccapurple !important;
  font-family: 'Open Sans', sans-serif;
}
